* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/image/main-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.header-image {
    border-right: 1px solid white;
    padding-right: 80px;
    height: 40px;
    margin-left: 40px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin-right: 700px;
}

.header-button {
    height: 45px;
    width: 160px;
    margin-right: 40px;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    background-color: #C71585;
}

.hero-sec {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h-one {
    font-size: 60px;
    color: white;
    margin-left: 20px;
}

.h-two {
    font-size: 60px;
    color: white;
}

p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 80px;
}

.foolter-button {
    margin-top: 80px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    color: white;
    background-color: #C71585;
    border: 1px solid #C71585;
    font-weight: bolder;
    font-size: 20px;
}